body {
    font-family: sans-serif;
}

#aloitus{  /* formi */
    width: 200px;
    margin: 25px;
}

.formi {
    padding: 5px;
}

#eka{ /* ToDo-lista */
    
    border: 1px solid black;
    margin: 5px;
    padding: 5px;
    width: 200px;
    
    background: yellow;
    float: left;
    position: relative; 
    

}
#toka{ /* ToDo-lista */
    
    border: 1px solid black;
    margin: 5px;
    padding: 5px;
    width: 200px;
    
    background: yellow;
    float: left;
    position: relative; 

}
#kolmas {
    border: 1px solid black;
    width: 400px;
    
    background: yellow;
    float: left;
    position: relative; 
    border-collapse: collapse;

}

.nappi3 {
    margin: 5px;
}

ul {
    list-style-type: none;
}

.lisays {
    
    padding-top: 95px;
}
.ots {
    font-weight: bold;
    
}

.tehty {
    text-decoration-line: line-through;
}